@import url('webfonts/yanone.css');
@import url('webfonts/lolita.css');
@import url('wc-texts.css');
@import url('wc-boxes.css');
@import url('wc-colors.css');
@import url('wc-postlayouts.css');
@import url('wc-postimages.css');
* {
	box-sizing : border-box;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

body {
/*	background: #F5F5F5;*/	
	background: gray;
	font-family: Arial;
	font-size: 10px;
	margin-top: 7px;
	width: 100%;
}